.menu-container{
    width: 150px;
    height: 100vh;
    background-color: #333;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
}
.space{
    min-width: 150px;
    height: 100vh;
}
.menu-toggle{
    position: absolute;
    top: 0;
    right: -40px;
    cursor: pointer;
}